.manage-task {
  padding: 2em 10px;
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5em;
    &__text {
      font-family: $ff-1;
      color: $color-3;
      font-size: 25px;
    }
    &__icon {
      &:hover {
        opacity: 0.5;
      }
    }
  }
  &__filter {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 1em;
    &__tag {
      text-align: center;
      width: 160px;
      border: 1px solid;
      padding: 10px 10px;
      border-radius: 20px;
      color: $color-8;
      background: $color-7;
      font-family: $ff-1;
      font-size: 12px;
      margin: 3px;
      @include desde($medium) {
        padding: 10px 20px;
        font-size: 15px;
        font-weight: bold;
      }
      @include desde($large) {
        font-size: 16px;
        font-weight: bold;
      }
      &:hover {
        background: $color-6;
      }
      &.active {
        background: $color-6;
        color: $color-8;
        font-weight: bold;
      }
    }
  }
  &__resume {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    font-family: $ff-2;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
  }
}