
.header-main {
  display: flex;
  padding: 10px 15px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 3px 5px rgba(153, 128, 250, 0.2);
  width: 100%;
  @include desde($medium) {
    padding-left: 2em;
    padding-right: 2em;
  }
  @include desde($large) {
    padding-left: 4em;
    padding-right: 4em;
  }
  &__time {
    font-family: $ff-2;
    font-size: 16px;
    margin-left: 10px;
    font-weight: bold;
  }
  &__title {
    font-family: $ff-1;
    font-weight: bold;
    font-size: 24px;
    color: $color-3;
  }
  &__options {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}