.pomodoro {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  &__body {
    height: 100%;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1em;
  }
  &__clock {
    width: 250px; /* Usa la dimensión más pequeña para el tamaño */
    height: 250px;/* Esto asegura que el div sea cuadrado */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid $color-1;
    margin-bottom: 20%;
    box-shadow: 0px 0px 10px 5px #0652DD;
    @include desde($medium) {
      width: 300px;
      height: 300px;
      margin-bottom: 6%;
    }
    @include desde($large) {
      width: 350px;
      height: 350px;
      margin-bottom: 5%;
    }
    @include desde($extra-large) {
      margin-bottom: 10%;
    }
    &__item {
      display: flex;
      font-family: $ff-1;
      color: $color-3;
      font-size: 45px;
      @include desde($medium) {
        font-size: 65px;
      }
    }
    &__time { 
    }
  }
  &__ctrls {
    position: relative;
    display: flex;
    align-items: center;
    &__btn {
      background: $color-1;
      color: $color-3;
      display: block;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin: 5px;
      &.secondary {
        background-color: $color-6;
        color: $color-8;
      }
      &.play {
        margin-top: 2em;
        background: $color-2;
        width: 65px;
        height: 65px;
      }
      &:hover {
        opacity: 0.8;
        background: $color-4;
      }
    }
  }
}