.content-app {
  padding-left: 5px;
  padding-right: 5px;
  @include desde($medium) {
    padding-left: 5em;
    padding-right: 5em
  }
  @include desde($large) {
    padding-top: 3em;
    padding-left: 15%;
    padding-right: 15%;
  }
  @include desde($extra-large) {
    padding-top: 3em;
    padding-left: 25%;
    padding-right: 25%;
  }
}

